.btn-warning {
  color: #ffffff;
  background-color: #f8ac59;
  border-color: #f8ac59;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #f7a54a;
  border-color: #f7a54a;
}

.bg-warning {
  --bs-bg-opacity: 1;
  background-color: #f8ac59 !important;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: #1ab394 !important;
}

.ibox-title {
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px;
  color: inherit;
  margin-bottom: 0;
  padding: 15px 90px 8px 15px;
  min-height: 48px;
  position: relative;
  clear: both;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 2px 2px 0 0;
}

.ibox-content {
  clear: both;
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid;
  border-width: 1px;
}

table.shoping-cart-table {
  margin-bottom: 0;
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
table {
  border-collapse: collapse;
}

.text-navy {
  color: #1ab394 !important;
  font-size: 60%;
  text-decoration: none;
}

.small {
  font-size: 60%;
  font-weight: 400;
}

.m-b-none {
  margin-bottom: 0;
}

.m-t-sm {
  margin-top: 10px;
  font-size: 80%;
}

.text-muted {
  color: #888888 !important;
}
.text-muted {
  color: #6c757d !important;
}
.tbodyborder {
  border-style: none;
  border-bottom-width: 0px;
}

[data-cart-items] {
  display: inline-block;
  position: relative;
}

.btn-primary_local {
  color: #fff;
  background-color: #1ab394;
  border-color: #1ab394;
}

.btn-info_local,
.btn-info_local:hover {
  color: #fff;
  background-color: #23c6c8;
  border-color: #23c6c8;
}

.cursor {
  cursor: pointer;
}

.select2-results__option:hover {
  background-color: #1ab394 !important;
  color: white;
}

.select2-results__option[aria-selected="true"] {
  background-color: #ddd !important;
}

.local-bg-success {
  color: #fff !important;;
    background-color: #1c84c6 !important;
    border-color: #1c84c6 !important;
}


.local-bg-primary {
  color: #fff !important;
  background-color: #1ab394 !important;
  border-color: #1ab394 !important;
}



.local-bg-danger {
  color: #fff !important;
    background-color: #E51400 !important;
    border-color: #E51400 !important;
}


.local-bg-warning {
  color: #fff !important;;
    background-color: #F7A54A !important;
    border-color: #F7A54A !important;
}


.local-i-susses {
  color: #fff !important;
  background-color: #13b9a0 !important;
  border-color: #13b9a0 !important;
  cursor: pointer;
  padding-left:  0.75rem ;
  padding-right:  0.75rem ;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  border-radius: 6px;
  font-size: 1rem;
}




.local-i-danger {
  color: #fff !important;
  background-color: #E51400 !important;
  border-color: #E51400 !important;
  cursor: pointer;
  padding-left:  0.75rem ;
  padding-right:  0.75rem ;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  border-radius: 6px;
  font-size: 1rem;
}


.local-i-susses:hover , .local-i-danger:hover  {
  opacity: 0.85;
}

.local-cursor-pointer {
  cursor: pointer;
}


.ibox-tools {
  display: block;
  float: none;
  margin-top: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 0;
  text-align: right;
}

.label-primary, .badge-primary {
  background-color: #1ab394 !important;
  color: #FFFFFF !important;
}

.label {
  background-color: #D1DADE;
  color: #5E5E5E;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  padding: 3px 8px;
  text-shadow: none;
  border-radius: 0.25em;
  line-height: 1;
  white-space: nowrap;
  
}

.fs-10px {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 0.73rem;
  
}
.widget {
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.navy-bg, .bg-primary {
  background-color: #1ab394 !important;
  color: #ffffff;
}


.label-warning, .badge-warning {
  background-color: #f8ac59  !important;
  color: #FFFFFF !important;
}